html,
body,
.bd {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    margin: 0;
}

.icon {
    width: 1em;
    height: 1em;
    
    vertical-align: -0.15em;
    
    fill: currentColor;
}

.bd {
    display: flex;
    flex-direction: row;
}

.nav {
    background: #010101;
    
    display: flex;
    flex-direction: column;
}

.link,
.link:active,
.link:visited {
    color: #AAA;
}

.link {
    width: 60px;
    height: 60px;
    
    margin: 10px;
    
    background: #666;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 2px;
}

.activelink {
    composes: link;
    
    color: #DFDFDF;
    background: #333;
}

.logo {
    composes: icon;
    
    padding: 5px;
    
    width: 100%;
    height: 100%;
}

.content {
    flex: 1;
    
    position: relative;
}

.tab {
    z-index: -1;
    
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.activetab {
    composes: tab;
    
    z-index: 1;
    
    background: #242424;
}
